@import "~react-image-gallery/styles/css/image-gallery.css";

@keyframes FadeInUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: horizontal;
    margin-bottom: 5%;
}

.partition {
    animation: .7s ease-in FadeInUp;
}

.partition h1 {
    margin-bottom: .2vw;
}


.paragraph {
    line-height: 2;
    padding: 0;
}
 
.partition {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 5vw;
   border-width: 1px;
   border-style: solid;
   width: 70vw;
   height: 15vw;
   font-size: 1.2vw;
   border-color: black;
   box-shadow: 10px, 10px;
   margin-left: 10%;
   margin-right: 10%;
   box-shadow: 10px 5px 5px rgb(44, 44, 44);
   
}


.row {
    display: flex;
    justify-content: center;
}


.image-gallery {
    width: 50vw;
    margin-top: 3vw;
    height: 30vw;
    object-fit: contain;
    object-position: 0;
    background-color: black;
    border-style: solid;
    border-color: rgb(86, 199, 255);
    border-width: 10%;

}

.image-gallery-slide .image-gallery-image {
    width: 30vw;
    height: 30vw;
    object-fit: contain;
}