@import "~react-image-gallery/styles/css/image-gallery.css";

@keyframes FadeInUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: horizontal;
    margin-bottom: 5%;
}

.partition {
    margin-left: 150px;
    animation: .7s ease-in FadeInUp;
}

.partition h1 {
    margin-bottom: 1px;
    margin-top: 3px;
}

.partition p {
    margin-bottom: 1px;
    margin-top: 0px;
}

.paragraph {
    line-height: 2;
    margin-left: 10px;
}
 
.partition {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   margin-top: 20px;
   border-width: 1px;
   border-style: solid;
   width: 80%; 
   height: 30%;
   border-color: black;
   box-shadow: 10px, 10px;
   padding-left: 5%;
   margin-left: 10%;
   padding-bottom: 1%;
   margin-right: 10%;
   box-shadow: 10px 5px 5px rgb(44, 44, 44);
   
}

.pic-contain {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 80%;
    background: black;
}

.gallery {
    width: 100%;
    height: 100%;
}
.home-pic {
    width: 50vw;
    height: auto;
}

.row {
    display: flex;
    justify-content: center;
}