/*Up animation tentative*/
@keyframes FadeInUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#first-part {
    margin-top: 0;
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    width: 100%;
    background: rgb(199, 198, 198);
    height: 100%;
}


.partition h1 {
    margin-bottom: 1%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#second-part {
    margin-top: 0;
    background: rgb(199, 198, 198)
}

.paragraph {
    line-height: 2.5;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    width: 70%;
    font-family: 'Karla';
    border-style: solid;
    border-width: 1%;
    border-radius: 1em
}
 
.partition {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 5%;
   font-size: 100%;
   width: 70%;
   height: 100%;
   box-shadow: 10px, 10px;
   animation: .7s ease-in FadeInUp;
}


.row {
    display: flex;
    justify-content: center;
}


#gal-text-row {
    object-fit: contain;
    display: flex;
}

#experience {
    display: grid;
    padding: 0;
    list-style: none;
    margin: 0;
    flex-direction: column;
}

#experience h2 {
    margin: 0;
    margin-left: 10%;
}

#experience li {
    margin-top: 20%;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4em;
    object-position: 0;
    font-family: 'Karla';
}

#experience li img {
    height: 80%;
}

.mobile-image {
    width: 90%;
    height: auto
}

.gallery {
    width: 50%
}
@media screen and (max-width: 650px) {
    /*fix image fitting*/
    .gallery {
        width: 60vw;
        height: auto;
    }
    
    .paragraph {
        font-size: 1.5vh;
        width: 90%;
        border-radius: .8vw;
        padding-right: 5%;
        padding-left: 5%
    }

    .partition h1 {
        font-size: 4vh;
    }

    .partition {
        font-size: 1.5vh
    }

    #experience li {
        font-size: 2vh
    }
}