.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-half {
    width: 100%;
    background: white;
}

.Project-list {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.Project-list li {
    display: flex;
    font-size: 70%;
    flex-direction: column;
    border-style: solid;
    justify-content: top;
    background: rgb(199, 198, 198);
    height: 95%;
    margin: 0;
    width: 100%;
}

.Project-list li h5{
    margin: 5%;
}

.Project-list li p {
    margin: 5%;
    font-size: 70%;
    width: 90%
}


.Project-list li a {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 80%;
}

.header {
    margin-bottom: 1%;
    
}

#project-second{
    justify-content: center;
}

@media screen and (max-width: 600px) {
    /*fix border stuff*/
    .Project-list li {
        font-size: 2vw;
        width: 30vw;
        border-width: .2vw;
    }

    .header{
        font-size: 6vw;
    }

    #project-second p{
        font-size: 3vw !important;
    }

    .second-header h1 {
        font-size: 6vw;
    }
}

