
@keyframes FadeInUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: center;
}

.header {
    display: flex;
    justify-content: center;
}

.block {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-self: center;
    width: 80%;
    border-radius: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px black;
    transition: all .5s ease 0s;
    animation: .7s ease-in FadeInUp;  
}


.block h2 {
    margin-bottom: 0px;
}

.block h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.timeframe {
    margin-top: 5px;
    margin-bottom: 5px;
}

.description {
    margin-top: 5px;
    margin-bottom: 30px;
}

.resdown {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#volunteering ul{
    margin-top: 5px;
}

#skills li {
    margin-right: 40px;
}

#skills ul {
    display: inline-flex;
    list-style-type: square;
    margin-top: 5px;
    flex-wrap: wrap;
}
.res-row {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.resume-container {
    width: 40%;
    height: auto;
    border-style: solid;
}

.resume {
    width: 50%;
    position: relative;
    right: 1vw;
    border-style: solid;
}
