
@keyframes FadeInUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .resume {
        width: 80vw
    }

    #skills li {
        width: 15vw;
        margin-left: .5vw
    }
}


.res-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: center;
}

.header {
    display: flex;
    justify-content: center;
}

.block {
    width: 70%;
    padding-right: 10%;
    padding-left: 10%;
    transition: all .5s ease 0s; 
}


.block h2 {
    margin-bottom: 0px;
}

.block h4 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.timeframe {
    margin-top: 2%;
    margin-bottom: 2%;
}

.description {
    margin-top: 5px;
    margin-bottom: 30px;
}

.resdown {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#volunteering ul{
    margin-top: 2%;
}


#skills li {
   padding-bottom: 5%;
   margin-left: 10%;
}

#skills ul {
    display: flex;
    flex-direction: row;
    list-style-type: square;
    white-space: wrap;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 60%;
    padding-left: 0;
}

.res-row {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    animation: 1s ease-in FadeInUp;  
}

.resume {
    width: 40%;
    position: relative;
    right: 1%;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
   
}

.plain-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-in FadeInUp;  
     
}

.row p {
    width: 70%;
    line-height: 2;
    font-size: 100%;
    animation: 1s ease-in FadeInUp;  
}