
@keyframes FadeInUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


.res-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: center;
}

.header {
    display: flex;
    justify-content: center;
}

.block {
    width: 70%;
    padding-right: 10%;
    padding-left: 10%;
    transition: all .5s ease 0s;
    animation: .7s ease-in FadeInUp;  
}


.block h2 {
    margin-bottom: 0px;
}

.block h4 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.timeframe {
    margin-top: 2%;
    margin-bottom: 2%;
}

.description {
    margin-top: 5px;
    margin-bottom: 30px;
}

.resdown {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#volunteering ul{
    margin-top: 2%;
}

#skills li {
    margin-left: 10%;
}

#skills ul {
    display: inline-flex;
    list-style-type: square;
    margin-top: 2%;
    flex-wrap: wrap;
}
.res-row {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.resume {
    width: 50%;
    position: relative;
    right: 1%;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%
}

.plain-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row p {
    width: 70%;
    line-height: 2;
    font-size: 100%;
}